<form action="/profile" method="post" id="f" class="form-inline well">
	<fieldset>
		<label for="profile">
			<span>https://wordpress.org/support/profile/</span>
			<input type="text" class="input-xlarge" id="profile" name="profile_name" value="<%= profile %>">
		</label>
		<input type="submit" value="submit Profile" id="submitbutton" >
	</fieldset>
</form>