						
						<% if (profile) { %>
							<p><a href="http://wordpress.org/support/profile/<%= profile %>">Your Profile Page</a></p>
							<hr>
						<% } %>

						<h3>Forums</h3>
						<ul>
							<li><a href="http://wordpress.org/support/forum/installation">Installation</a></li>
							<li><a href="http://wordpress.org/support/forum/how-to-and-troubleshooting">How-To and Troubleshooting</a></li>
							<li><a href="http://wordpress.org/support/forum/themes-and-templates">Themes and Templates</a></li>
							<li><a href="http://wordpress.org/support/forum/plugins-and-hacks">Plugins and Hacks</a></li>
							<li><a href="http://wordpress.org/support/forum/hacks">Hacks</a></li>
							<li><a href="http://wordpress.org/support/forum/wp-advanced">WP-Advanced</a></li>
							<li><a href="http://wordpress.org/support/forum/multisite">Multisite</a></li>
							<li><a href="http://wordpress.org/support/forum/localhost-installs">Localhost Installs</a></li>
							<li><a href="http://wordpress.org/support/forum/miscellaneous">Miscellaneous</a></li>
							<li><a href="http://wordpress.org/support/forum/requests-and-feedback">Requests and Feedback</a></li>
							<li><a href="http://wordpress.org/support/forum/alphabeta">Alpha/Beta</a></li>
							<li><a href="http://wordpress.org/support/forum/meetups">Meetups</a></li>
							<li><a href="http://wordpress.org/support/forum/reviews">Reviews</a></li>
						</ul>
						<ul>
							<li class="view"><a href="http://wordpress.org/support/view/all-topics">All Topics</a></li>
							<li class="view"><a href="http://wordpress.org/support/view/no-replies">No Replies</a></li>
							<li class="view"><a href="http://wordpress.org/support/view/plugin">Plugin Support</a></li>
							<li class="view"><a href="http://wordpress.org/support/view/support-forum-no">Not Resolved</a></li>
							<li class="view"><a href="http://wordpress.org/support/view/untagged">No Tags</a></li>
						</ul>
						<hr>
						<p>Run this on your own server or localhost.</p>
						<p><a class="btn btn-success" href="https://github.com/keesiemeijer/recentforumactivity/archive/master.zip">
							<span aria-hidden="true" data-download="&#58880;"></span>
							Download</a>
						</p>
						<p><a href="https://github.com/keesiemeijer/recentforumactivity/">GitHub repository</a></p>