						
						<% if (profile) { %>
							<div class="your-profile">
								<p><a href="https://wordpress.org/support/users/<%= profile %>">Your Profile Page</a></p>
							</div>
							<hr>
						<% } %>

						<h3>Forums</h3>
						<ul>
							<li><a href="https://wordpress.org/support/forum/installation/" title="Installing WordPress">Installing WordPress</a></li>
							<li><a href="https://wordpress.org/support/forum/how-to-and-troubleshooting/" title="Fixing WordPress">Fixing WordPress</a></li>
							<li><a href="https://wordpress.org/support/forum/wp-advanced/" title="Developing with WordPress">Developing with WordPress</a></li>
							<li><a href="https://wordpress.org/support/forum/multisite/" title="Networking WordPress">Networking WordPress</a></li>
							<li><a href="https://wordpress.org/support/forum/accessibility/" title="Accessibility">Accessibility</a></li>
							<li><a href="https://wordpress.org/support/forum/localhost-installs/" title="Localhost Installs">Localhost Installs</a></li>
							<li><a href="https://wordpress.org/support/forum/miscellaneous/" title="Everything else WordPress">Everything else WordPress</a></li>
							<li><a href="https://wordpress.org/support/forum/requests-and-feedback/" title="Requests and Feedback">Requests and Feedback</a></li>
							<li><a href="https://wordpress.org/support/forum/alphabeta/" title="Alpha/Beta/RC">Alpha/Beta/RC</a></li>
							<li><a href="http://wordpress.org/support/forum/plugins-and-hacks">Plugins and Hacks</a></li>
						</ul>
						<h3>Views</h3>
						<ul>
							<li class="view"><a href="https://wordpress.org/support/view/spam/">Spam</a></li>
							<li class="view"><a href="https://wordpress.org/support/view/pending/">Pending</a></li>
							<li class="view"><a href="https://wordpress.org/support/view/archived/">Archived</a></li>
							<li class="view"><a href="https://wordpress.org/support/view/popular/">Most popular topics</a></li>
							<li class="view"><a href="https://wordpress.org/support/view/no-replies/">Topics with no replies</a></li>
							<li class="view"><a href="https://wordpress.org/support/view/support-forum-mu/">Non-support topics</a></li>
							<li class="view"><a href="https://wordpress.org/support/view/support-forum-yes/">Resolved topics</a></li>
							<li class="view"><a href="https://wordpress.org/support/view/support-forum-no/">Unresolved topics</a></li>
							<li class="view"><a href="https://wordpress.org/support/view/all-topics/">All topics</a></li>
							<li class="view"><a href="https://wordpress.org/support/view/taggedmodlook/">Tagged modlook</a></li>
						</ul>
						<hr>
						<p>Run this on your own server or localhost.</p>
						<p><a class="btn btn-success" href="https://github.com/keesiemeijer/recentforumactivity-nodejs/archive/master.zip">
							<span aria-hidden="true" data-download="&#58880;"></span>
							Download</a>
						</p>
						<p><a href="https://github.com/keesiemeijer/recentforumactivity-nodejs/">GitHub repository</a></p>