<ul class="unstyled topics">
	<% for ( var i = 0; i < items.length; i++ ) { %>
	<li>
		<p>
			<span class="topic">
			<% if ( items[i]['link'] ) { %>
				<%- items[i]['link'] %>
			<% } %>
			</span>
			<% if ( items[i]['time_string'] ) { %>
			<span class="freshness">Most recent reply: 
				<span class="badge"> 
					<%= items[i]['time_string'] %>
				</span> 
				<% if ( items[i]['reply_author'] ) { %>
					by <%= items[i]['reply_author'] %>
				<% } %>
			</span>
			<% } %>
		</p>
	</li>
	<% } %>
</ul>